header p{
    color: #ffffff;
}
h1{
    font-size: 54px;
    color: black;
    padding: 30px; 
    color: white;
    text-align: center;
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}
.carousel-caption h5{
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px #000;
}
